<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 来院方式 -->
<mapper namespace="com.buit.ecis.pretriage.dao.ErPreLyfsDao">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        LYFSID as lyfsid,JGID as jgid,LYFS as lyfs,PXH as pxh,ZT as zt
    </sql>

    <insert id="insert">
        INSERT INTO ER_PRE_LYFS (
            LYFSID ,
            JGID ,
            LYFS ,
            PXH ,
            ZT 
        ) VALUES (
            #{lyfsid} ,
            #{jgid} ,
            #{lyfs} ,
            #{pxh} ,
            #{zt} 
        )
    </insert>
    
    <update id="update" ><!--  
        UPDATE ER_PRE_LYFS SET
            JGID = #{jgid} ,
            LYFS = #{lyfs} ,
            PXH = #{pxh} ,
            ZT = #{zt} 
        WHERE 
            LYFSID = #{lyfsid} 
            -->            
    </update>
    <update id="updateZt">
        UPDATE ER_PRE_LYFS SET
            ZT = #{zt}
        WHERE
            LYFSID = #{lyfsid}
    </update>
    <update id="updateInfo">
        UPDATE ER_PRE_LYFS SET
            LYFS = #{lyfs}
            <if test="@sqlt.Ognl@isNotEmpty(pxh)">
                , PXH = #{pxh}
            </if>
        WHERE
            LYFSID = #{lyfsid}
    </update>

    <delete id="deleteById">
        DELETE FROM ER_PRE_LYFS WHERE
        LYFSID = #{lyfsid} 
    </delete>
    
    <delete id="removeByEntity">
        DELETE FROM ER_PRE_LYFS <include refid="where"/>  
    </delete>
    
    <select id="getById" resultType="ErPreLyfs">
        SELECT <include refid="columns" />
            FROM ER_PRE_LYFS 
            WHERE 
        LYFSID = #{lyfsid} 
    </select>
    
    <sql id="where">
        <where>                          
<!--                <if test="@sqlt.Ognl@isNotEmpty(lyfsid)"> -->
<!--                     AND LYFSID = #{lyfsid} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(jgid)"> -->
<!--                     AND JGID = #{jgid} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(lyfs)"> -->
<!--                     AND LYFS = #{lyfs} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(pxh)"> -->
<!--                     AND PXH = #{pxh} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(zt)"> -->
<!--                     AND ZT = #{zt} -->
<!--                </if> -->
        </where>
    </sql>
        
    <select id="findByEntityCount" resultType="long">
        SELECT count(*) FROM ER_PRE_LYFS 
        <include refid="where"/>    
    </select>
    
    <select id="findByEntity" resultType="ErPreLyfs">
        SELECT <include refid="columns" />
        FROM ER_PRE_LYFS 
        <include refid="where"/>
        
        <if test="@sqlt.Ognl@orderIsNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>
    <!--     业务sql      -->
</mapper>

