<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  -->
<mapper namespace="com.buit.commons.dao.FeeXmzxksDao">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        JLXH as jlxh,JGID as jgid,FYXH as fyxh,FYLB as fylb,WZXH as wzxh,WZSL as wzsl
    </sql>

    <insert id="insert">
        INSERT INTO FEE_XMZXKS (
            JLXH ,
            JGID ,
            FYXH ,
            FYLB ,
            WZXH ,
            WZSL 
        ) VALUES (
            #{jlxh} ,
            #{jgid} ,
            #{fyxh} ,
            #{fylb} ,
            #{wzxh} ,
            #{wzsl} 
        )
    </insert>
    
    <update id="update" ><!--  
        UPDATE FEE_XMZXKS SET
            JGID = #{jgid} ,
            FYXH = #{fyxh} ,
            FYLB = #{fylb} ,
            WZXH = #{wzxh} ,
            WZSL = #{wzsl} 
        WHERE 
            JLXH = #{jlxh} 
            -->            
    </update>

    <delete id="deleteById">
        DELETE FROM FEE_XMZXKS WHERE
        JLXH = #{jlxh} 
    </delete>
    
    <delete id="removeByEntity">
        DELETE FROM FEE_XMZXKS <include refid="where"/>  
    </delete>
    
    <select id="getById" resultType="FeeXmzxks">
        SELECT <include refid="columns" />
            FROM FEE_XMZXKS 
            WHERE 
        JLXH = #{jlxh} 
    </select>
    
    <sql id="where">
        <where>                          
<!--                <if test="@sqlt.Ognl@isNotEmpty(jlxh)"> -->
<!--                     AND JLXH = #{jlxh} -->
<!--                </if> -->
                <if test="@sqlt.Ognl@isNotEmpty(jgid)"> 
                     AND JGID = #{jgid}
                </if> 
                <if test="@sqlt.Ognl@isNotEmpty(fyxh)"> 
                     AND FYXH = #{fyxh} -->
                </if> 
<!--                <if test="@sqlt.Ognl@isNotEmpty(fylb)"> -->
<!--                     AND FYLB = #{fylb} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(wzxh)"> -->
<!--                     AND WZXH = #{wzxh} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(wzsl)"> -->
<!--                     AND WZSL = #{wzsl} -->
<!--                </if> -->
        </where>
    </sql>
        
    <select id="findByEntityCount" resultType="long">
        SELECT count(*) FROM FEE_XMZXKS 
        <include refid="where"/>    
    </select>
    
    <select id="findByEntity" resultType="FeeXmzxks">
        SELECT <include refid="columns" />
        FROM FEE_XMZXKS 
        <include refid="where"/>
        
        <if test="@sqlt.Ognl@orderIsNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>
    <!--     业务sql      -->
    <select id="queryObj" resultType="java.util.Map">
        SELECT
            b.WZMC AS wzmc,
            a.WZXH AS wzxh,
            a.WZSL AS wzsl
        FROM
            FEE_XMZXKS a,
            WL_WZZD b
        WHERE
            a.WZXH = b.WZXH
            AND a.JGID = #{jgid}
            AND a.FYXH = #{fyxh}
    </select>
    <select id="findSuppliesInfo" resultType="java.util.Map">
        SELECT
            WZXH AS WZXH,
            WZSL AS WZSL
        FROM
            FEE_XMZXKS
        WHERE
            FYXH = #{FYXH}
            AND JGID = #{JGID}
    </select>
</mapper>

