<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 环信账号信息 -->
<mapper namespace="com.buit.commons.dao.MpHxzhDao">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        jzlsh as jzlsh,WZFS as wzfs,userid as userid,easemob as easemob
    </sql>

    <insert id="insert">
        INSERT INTO MP_HXZH (
            jzlsh ,
            WZFS ,
            userid ,
            easemob 
        ) VALUES (
            #{jzlsh} ,
            #{wzfs} ,
            #{userid} ,
            #{easemob} 
        )
    </insert>
    
    <update id="update" ><!--  
        UPDATE MP_HXZH SET
            WZFS = #{wzfs} ,
            userid = #{userid} ,
            easemob = #{easemob} 
        WHERE 
            jzlsh = #{jzlsh} 
            -->            
    </update>

    <delete id="deleteById">
        DELETE FROM MP_HXZH WHERE
        jzlsh = #{jzlsh} 
    </delete>
    
    <delete id="removeByEntity">
        DELETE FROM MP_HXZH <include refid="where"/>  
    </delete>
    
    <select id="getById" resultType="MpHxzh">
        SELECT <include refid="columns" />
            FROM MP_HXZH 
            WHERE 
        jzlsh = #{jzlsh} 
    </select>
    
    <sql id="where">
        <where>                          
<!--                <if test="@sqlt.Ognl@isNotEmpty(jzlsh)"> -->
<!--                     AND jzlsh = #{jzlsh} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(wzfs)"> -->
<!--                     AND WZFS = #{wzfs} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(userid)"> -->
<!--                     AND userid = #{userid} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(easemob)"> -->
<!--                     AND easemob = #{easemob} -->
<!--                </if> -->
        </where>
    </sql>
        
    <select id="findByEntityCount" resultType="long">
        SELECT count(*) FROM MP_HXZH 
        <include refid="where"/>    
    </select>
    
    <select id="findByEntity" resultType="MpHxzh">
        SELECT <include refid="columns" />
        FROM MP_HXZH 
        <include refid="where"/>
        
        <if test="@sqlt.Ognl@orderIsNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>
    <!--     业务sql      -->
</mapper>

