<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 充值卡操作记录 -->
<mapper namespace="com.buit.commons.dao.OpCzjlDao">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        CZXH as czxh,CARDNO as cardno,CZTYPE as cztype,AMOUNT as amount,CZGH as czgh,CZIP as czip,CZSJ as czsj,BRID as brid,<!--  MPI_KPXX as mpiKpxx,-->LASTKNYE as lastknye,CZFS as czfs,FPHM as fphm,JZLSH as jzlsh
    </sql>

    <insert id="insert">
        INSERT INTO OP_CZJL (
            CZXH ,
            CARDNO ,
            CZTYPE ,
            AMOUNT ,
            CZGH ,
            CZIP ,
            CZSJ ,
            BRID ,
            LASTKNYE ,
            CZFS ,
            FPHM ,
            JZLSH
        ) VALUES (
            #{czxh} ,
            #{cardno} ,
            #{cztype} ,
            #{amount} ,
            #{czgh} ,
            #{czip} ,
            #{czsj} ,
            #{brid} ,
            #{lastknye} ,
            #{czfs} ,
            #{fphm} ,
            #{jzlsh}
        )
    </insert>
    
    <update id="update" ><!--  
        UPDATE OP_CZJL SET
            CARDNO = #{cardno} ,
            CZTYPE = #{cztype} ,
            AMOUNT = #{amount} ,
            CZGH = #{czgh} ,
            CZIP = #{czip} ,
            CZSJ = #{czsj} ,
            BRID = #{brid} ,
            MPI_KPXX = #{mpiKpxx} ,
            LASTKNYE = #{lastknye} ,
            CZFS = #{czfs} ,
            FPHM = #{fphm} ,
            JZLSH = #{jzlsh} 
        WHERE 
            CZXH = #{czxh} 
            -->            
    </update>

    <delete id="deleteById">
        DELETE FROM OP_CZJL WHERE
        CZXH = #{czxh} 
    </delete>
    
    <delete id="removeByEntity">
        DELETE FROM OP_CZJL <include refid="where"/>  
    </delete>
    
    <select id="getById" resultType="OpCzjl">
        SELECT <include refid="columns" />
            FROM OP_CZJL 
            WHERE 
        CZXH = #{czxh} 
    </select>
    
    <sql id="where">
        <where>                          
<!--                <if test="@sqlt.Ognl@isNotEmpty(czxh)"> -->
<!--                     AND CZXH = #{czxh} -->
<!--                </if> -->
               <if test="@sqlt.Ognl@isNotEmpty(cardno)">
                    AND CARDNO = #{cardno}
               </if>
<!--                <if test="@sqlt.Ognl@isNotEmpty(cztype)"> -->
<!--                     AND CZTYPE = #{cztype} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(amount)"> -->
<!--                     AND AMOUNT = #{amount} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(czgh)"> -->
<!--                     AND CZGH = #{czgh} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(czip)"> -->
<!--                     AND CZIP = #{czip} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(czsj)"> -->
<!--                     AND CZSJ = #{czsj} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(brid)"> -->
<!--                     AND BRID = #{brid} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(mpiKpxx)"> -->
<!--                     AND MPI_KPXX = #{mpiKpxx} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(lastknye)"> -->
<!--                     AND LASTKNYE = #{lastknye} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(czfs)"> -->
<!--                     AND CZFS = #{czfs} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(fphm)"> -->
<!--                     AND FPHM = #{fphm} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(jzlsh)"> -->
<!--                     AND JZLSH = #{jzlsh} -->
<!--                </if> -->
        </where>
    </sql>
        
    <select id="findByEntityCount" resultType="long">
        SELECT count(*) FROM OP_CZJL 
        <include refid="where"/>    
    </select>
    
    <select id="findByEntity" resultType="OpCzjl">
        SELECT <include refid="columns" />
        FROM OP_CZJL 
        <include refid="where"/>
        
        <if test="@sqlt.Ognl@orderIsNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>
    <!--     业务sql      -->
    
    <!-- 查询余额 -->
    <select id="getAmount" parameterType="Map" resultType="java.util.Map">
        select AMOUNT as AMOUNT,(LASTKNYE-AMOUNT) as YE from OP_CZJL   where FPHM = #{fphm}  
    </select>
    
    <select id="doQueryCzjlList" resultType="OpCzjlResp">
        SELECT <include refid="columns" />
        FROM OP_CZJL 
        where CARDNO = #{cardno} 
        order by CZSJ DESC,CZTYPE DESC 
    </select>
    <!--充值-->
    <select id="queryCzjlDyfp" resultType="java.util.Map">
        select AMOUNT as AMOUNT,(LASTKNYE-AMOUNT) as YE from OP_CZJL   where FPHM = #{fphm}
    </select>

</mapper>

