<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 暂时用来解决发票虚拟自增序号 -->
<mapper namespace="com.buit.commons.dao.OpSeqDao">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        DQRQ as dqrq,DQXH as dqxh
    </sql>

    <insert id="insert">
        INSERT INTO OP_SEQ (
            DQRQ ,
            DQXH 
        ) VALUES (
            #{dqrq} ,
            #{dqxh} 
        )
    </insert>
    
    <update id="update" ><!--  
        UPDATE OP_SEQ SET
            DQXH = #{dqxh} 
        WHERE 
            DQRQ = #{dqrq} 
            -->            
    </update>

    <delete id="deleteById">
        DELETE FROM OP_SEQ WHERE
        DQRQ = #{dqrq} 
    </delete>
    
    <delete id="removeByEntity">
        DELETE FROM OP_SEQ <include refid="where"/>  
    </delete>
    
    <select id="getById" resultType="OpSeq">
        SELECT <include refid="columns" />
            FROM OP_SEQ 
            WHERE 
        DQRQ = #{dqrq} 
    </select>
    
    <sql id="where">
        <where>                          
<!--                <if test="@sqlt.Ognl@isNotEmpty(dqrq)"> -->
<!--                     AND DQRQ = #{dqrq} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(dqxh)"> -->
<!--                     AND DQXH = #{dqxh} -->
<!--                </if> -->
        </where>
    </sql>
        
    <select id="findByEntityCount" resultType="long">
        SELECT count(*) FROM OP_SEQ 
        <include refid="where"/>    
    </select>
    
    <select id="findByEntity" resultType="OpSeq">
        SELECT <include refid="columns" />
        FROM OP_SEQ 
        <include refid="where"/>
        
        <if test="@sqlt.Ognl@orderIsNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>
    <!--     业务sql      -->
    
    <!-- 根据当前日期查询当前序号 -->
    <select id="getDqxh" parameterType="Map" resultType="java.util.Map">
        select DQXH as DQXH from OP_SEQ where DQRQ=#{DQRQ}   
    </select>
    
    <update id="updateDqxh" parameterType="Map">
    	update OP_SEQ set DQXH=DQXH+1 where DQRQ=#{DQRQ}
    </update>
</mapper>

