<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 院内转诊申请 -->
<mapper namespace="com.buit.commons.dao.OpYnzzsqDao">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        SQDH as sqdh,JGID as jgid,BRID as brid,JZKS as jzks,BRXM as brxm,BRNL as brnl,ZZKS as zzks,SQZD as sqzd,ZZMD as zzmd,JZYS as jzys,SQRQ as sqrq,ZFBZ as zfbz,JZKH as jzkh,BRXB as brxb
    </sql>

    <insert id="insert">
        INSERT INTO OP_YNZZSQ (
            SQDH ,
            JGID ,
            BRID ,
            JZKS ,
            BRXM ,
            BRNL ,
            ZZKS ,
            SQZD ,
            ZZMD ,
            JZYS ,
            SQRQ ,
            ZFBZ ,
            JZKH ,
            BRXB ,
            JZLSH
        ) VALUES (
            #{sqdh} ,
            #{jgid} ,
            #{brid} ,
            #{jzks} ,
            #{brxm} ,
            #{brnl} ,
            #{zzks} ,
            #{sqzd} ,
            #{zzmd} ,
            #{jzys} ,
            #{sqrq} ,
            #{zfbz} ,
            #{jzkh} ,
            #{brxb} ,
            #{jzlsh}
        )
    </insert>

    <update id="update" ><!--
        UPDATE OP_YNZZSQ SET
            JGID = #{jgid} ,
            BRID = #{brid} ,
            JZKS = #{jzks} ,
            BRXM = #{brxm} ,
            BRNL = #{brnl} ,
            ZZKS = #{zzks} ,
            SQZD = #{sqzd} ,
            ZZMD = #{zzmd} ,
            JZYS = #{jzys} ,
            SQRQ = #{sqrq} ,
            ZFBZ = #{zfbz} ,
            JZKH = #{jzkh} ,
            BRXB = #{brxb}
        WHERE
            SQDH = #{sqdh}
            -->
    </update>

    <delete id="deleteById">
        DELETE FROM OP_YNZZSQ WHERE
        SQDH = #{sqdh}
    </delete>

    <delete id="removeByEntity">
        DELETE FROM OP_YNZZSQ <include refid="where"/>
    </delete>

    <select id="getById" resultType="OpYnzzsq">
        SELECT <include refid="columns" />
            FROM OP_YNZZSQ
            WHERE
        SQDH = #{sqdh}
    </select>

    <sql id="where">
        <where>
<!--                <if test="@sqlt.Ognl@isNotEmpty(sqdh)"> -->
<!--                     AND SQDH = #{sqdh} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(jgid)"> -->
<!--                     AND JGID = #{jgid} -->
<!--                </if> -->
                <if test="@sqlt.Ognl@isNotEmpty(brid)">
                     AND BRID = #{brid}
                </if>
                <if test="@sqlt.Ognl@isNotEmpty(jzks)">
                     AND JZKS = #{jzks}
                </if>
<!--                <if test="@sqlt.Ognl@isNotEmpty(brxm)"> -->
<!--                     AND BRXM = #{brxm} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(brnl)"> -->
<!--                     AND BRNL = #{brnl} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(zzks)"> -->
<!--                     AND ZZKS = #{zzks} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(sqzd)"> -->
<!--                     AND SQZD = #{sqzd} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(zzmd)"> -->
<!--                     AND ZZMD = #{zzmd} -->
<!--                </if> -->
                <if test="@sqlt.Ognl@isNotEmpty(jzys)">
                     AND JZYS = #{jzys}
                </if>
                <if test="@sqlt.Ognl@isNotEmpty(sqrq)">
                     AND date_format(SQRQ,'%Y-%m-%d') = #{sqrq}
                </if>
<!--                <if test="@sqlt.Ognl@isNotEmpty(zfbz)"> -->
<!--                     AND ZFBZ = #{zfbz} -->
<!--                </if> -->
                <if test="@sqlt.Ognl@isNotEmpty(jzkh)">
                     AND JZKH = #{jzkh}
                </if>
<!--                <if test="@sqlt.Ognl@isNotEmpty(brxb)"> -->
<!--                     AND BRXB = #{brxb} -->
<!--                </if> -->
        </where>
    </sql>

    <select id="findByEntityCount" resultType="long">
        SELECT count(*) FROM OP_YNZZSQ
        <include refid="where"/>
    </select>

    <select id="findByEntity" resultType="OpYnzzsq">
        SELECT <include refid="columns" />
        FROM OP_YNZZSQ
        <include refid="where"/>

        <if test="@sqlt.Ognl@orderIsNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>
    <!--     业务sql      -->
    <update id="updateZzksSqzdZzmd">
        UPDATE OP_YNZZSQ
        SET ZZKS = #{zzks},
        SQZD = #{sqzd},
        ZZMD = #{zzmd}
        WHERE
            JZKS = #{jzks}
            AND JZYS = #{jzys}
            AND date_format(SQRQ,'%Y-%m-%d') = #{sqrq}
            AND BRID = #{brid}
            AND JZKH = #{jzkh}
    </update>
</mapper>

