<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  -->
<mapper namespace="com.buit.commons.dao.SkinDjmxDao">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        JGID as jgid,KSDM as ksdm,DJDH as djdh,CFHM as cfhm,CFZH as cfzh,YPXH as ypxh,MZHM as mzhm,FPHM as fphm
    </sql>

    <insert id="insert">
        INSERT INTO SKIN_DJMX (
            JGID ,
            KSDM ,
            DJDH ,
            CFHM ,
            CFZH ,
            YPXH ,
            MZHM ,
            FPHM 
        ) VALUES (
            #{jgid} ,
            #{ksdm} ,
            #{djdh} ,
            #{cfhm} ,
            #{cfzh} ,
            #{ypxh} ,
            #{mzhm} ,
            #{fphm} 
        )
    </insert>
    
    <update id="update" ><!--  
        UPDATE SKIN_DJMX SET
            MZHM = #{mzhm} ,
            FPHM = #{fphm} 
        WHERE 
            JGID = #{jgid}  AND 
                        KSDM = #{ksdm}  AND 
                        DJDH = #{djdh}  AND 
                        CFHM = #{cfhm}  AND 
                        CFZH = #{cfzh}  AND 
                        YPXH = #{ypxh} 
            -->            
    </update>

    <delete id="deleteById">
        DELETE FROM SKIN_DJMX WHERE
        JGID = #{jgid}  AND 
        KSDM = #{ksdm}  AND 
        DJDH = #{djdh}  AND 
        CFHM = #{cfhm}  AND 
        CFZH = #{cfzh}  AND 
        YPXH = #{ypxh} 
    </delete>
    
    <delete id="removeByEntity">
        DELETE FROM SKIN_DJMX <include refid="where"/>  
    </delete>
    
    <select id="getById" resultType="SkinDjmx">
        SELECT <include refid="columns" />
            FROM SKIN_DJMX 
            WHERE 
        JGID = #{jgid}  AND 
        KSDM = #{ksdm}  AND 
        DJDH = #{djdh}  AND 
        CFHM = #{cfhm}  AND 
        CFZH = #{cfzh}  AND 
        YPXH = #{ypxh} 
    </select>
    
    <sql id="where">
        <where>                          
<!--                <if test="@sqlt.Ognl@isNotEmpty(jgid)"> -->
<!--                     AND JGID = #{jgid} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(ksdm)"> -->
<!--                     AND KSDM = #{ksdm} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(djdh)"> -->
<!--                     AND DJDH = #{djdh} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(cfhm)"> -->
<!--                     AND CFHM = #{cfhm} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(cfzh)"> -->
<!--                     AND CFZH = #{cfzh} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(ypxh)"> -->
<!--                     AND YPXH = #{ypxh} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(mzhm)"> -->
<!--                     AND MZHM = #{mzhm} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(fphm)"> -->
<!--                     AND FPHM = #{fphm} -->
<!--                </if> -->
        </where>
    </sql>
        
    <select id="findByEntityCount" resultType="long">
        SELECT count(*) FROM SKIN_DJMX 
        <include refid="where"/>    
    </select>
    
    <select id="findByEntity" resultType="SkinDjmx">
        SELECT <include refid="columns" />
        FROM SKIN_DJMX 
        <include refid="where"/>
        
        <if test="@sqlt.Ognl@orderIsNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>
    <!--     业务sql      -->
    <delete id="deleteByDjdh">
        DELETE FROM SKIN_DJMX 
        WHERE JGID = #{jgid}  AND KSDM = #{ksdm}  AND DJDH = #{djdh} 
    </delete>
    
    <select id="doQuerySkinDjmxByDjdh" resultType="SkinDjmx">
        SELECT <include refid="columns" /> FROM SKIN_DJMX 
        WHERE JGID = #{jgid}  AND KSDM = #{ksdm}  AND DJDH = #{djdh} 
    </select>
</mapper>

