<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 医保挂号结算表,暂时只增加主键和OP_GHMX关联的键,其他的键按地方返回的医保卡字段增加 -->
<mapper namespace="com.buit.commons.dao.YbGhjsDao">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        SBXH as sbxh,GHGL as ghgl,JGID as jgid,ZFPB as zfpb
    </sql>

    <insert id="insert">
        INSERT INTO YB_GHJS (
            SBXH ,
            GHGL ,
            JGID ,
            ZFPB 
        ) VALUES (
            #{sbxh} ,
            #{ghgl} ,
            #{jgid} ,
            #{zfpb} 
        )
    </insert>
    
    <update id="update" ><!--  
        UPDATE YB_GHJS SET
            GHGL = #{ghgl} ,
            JGID = #{jgid} ,
            ZFPB = #{zfpb} 
        WHERE 
            SBXH = #{sbxh} 
            -->            
    </update>

    <delete id="deleteById">
        DELETE FROM YB_GHJS WHERE
        SBXH = #{sbxh} 
    </delete>
    
    <delete id="removeByEntity">
        DELETE FROM YB_GHJS <include refid="where"/>  
    </delete>
    
    <select id="getById" resultType="YbGhjs">
        SELECT <include refid="columns" />
            FROM YB_GHJS 
            WHERE 
        SBXH = #{sbxh} 
    </select>
    
    <sql id="where">
        <where>                          
<!--                <if test="@sqlt.Ognl@isNotEmpty(sbxh)"> -->
<!--                     AND SBXH = #{sbxh} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(ghgl)"> -->
<!--                     AND GHGL = #{ghgl} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(jgid)"> -->
<!--                     AND JGID = #{jgid} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(zfpb)"> -->
<!--                     AND ZFPB = #{zfpb} -->
<!--                </if> -->
        </where>
    </sql>
        
    <select id="findByEntityCount" resultType="long">
        SELECT count(*) FROM YB_GHJS 
        <include refid="where"/>    
    </select>
    
    <select id="findByEntity" resultType="YbGhjs">
        SELECT <include refid="columns" />
        FROM YB_GHJS 
        <include refid="where"/>
        
        <if test="@sqlt.Ognl@orderIsNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>
    <!--     业务sql      -->
</mapper>

